/*Footer styles*/
#footer{
    padding-top: 5rem;
}
#footer .footer-top {
    color:var(--body);
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: var(--dark);
}

#footer .footer-top a {
    color: var(--body);
}

#footer .footer-top a:hover {
    color: var(--white);
}

#footer .footer-bottom {
    color:var(--body);
    background-color: rgba(33, 37, 47, 0.97);
}
#footer .logo-foot {
    width: 15%;
}
#footer .App-name{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.5rem;
}
#footer .social-icons a{
    padding-left: 1rem;
}